# create a report of validation results

create a report of validation results

## Usage

``` r
validation_report(data.df, validation_file)
```

## Arguments

- data.df:

  data frame to validate

- validation_file:

  validations rules

## Value

string of validation results, empty string if no errors
